<div id="associates">
    @{
        ViewData["Title"] = "Associates";
    }
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <button class="show-items">View Current Inventory</button>
    <div id="item-grid"></div>
</div>